.heading {
  width: 100%;
  margin: 0;
  font-size: 23px;
  padding: 10px;
  box-shadow: 5px 5px 5px gray;
}

.header_div {
  float: none;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px gray;
}

.header_div2 {
  font-size: 18px;
  padding: 10px !important;
  margin: 10px;
}

.object_box {
  font-size: 20px;
  box-shadow: 5px 5px 5px gray;
  width: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 3;
}

canvas {
  border: 5px solid rgb(78, 78, 78);
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  margin-top: 150px;
}
